body {
    margin: 0;
}

.border{ 
    border: 2px solid pink;
    padding: 10px 20px;
    margin: 10px;
    color: grey;
    background-color:lightyellow;
    border-radius: 8px;
    height: calc(20px);
    overflow-y:hidden;
    font-family:Arial, Helvetica, sans-serif;
}

h1,h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: 300;
    margin: 0px;
}

nav{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 300;
}

h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    font-weight: 200;
}
h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 200;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 200;
}

.highlight{
    font-size: 28px;
    background-color: #393939;
    color: white;
    width: fit-content;
    padding: 4px 20px;
    text-align: center;
    line-height: 5rem;
}

.price{
    font-size: 18px;
    color: #5bacc3;
    font-weight: 500;
}

footer{
    background-color: #FFF0ED ;
    padding: 20px;
}

footer p{
    font-size: 30px;
    font-weight: 350;
}

header li{
    font-size: 18px;
}

.nav-menu{
    background-color: #FFF0ED;
    display: flex;
    justify-content: left;
    align-items:center;
    width: 100%;
    height: 100px;
}

.nav-menu__layout {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.nav-menu__link{
    color: #393939;
    text-decoration: none;
}

.nav-menu__list {
    display: flex;
    align-items:flex-start;
    list-style: none;
    text-decoration: none;
}

.nav-menu__item {
    text-transform: uppercase;
    font-weight: 350;
    font-size: 20px;
    padding: 0 24px;
    text-decoration: none;
    list-style: none;
    color:#393939;
}

.nav-menu__pages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.nav-menu__item--clicked {
    color: #5bacc3;
    width: 70px;
    height: 100px;
}

.nav-menu__logo{
   width: 50px;
   height: 50px;
}

.nav-menu__title{
    font-size: 54px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    border-left: 8px;
}

.nav-menu__link{
    color: #393939;
    text-decoration: none;
}

.no_bullets{
    list-style-type: none;
}